.habilidades{
    margin-bottom: 5%;
    display:flex;
    flex-direction: column;
    gap:1.875 rem;
}

.habilidades__titulo{
    border-top: var(--cor-terciaria) dotted 5px;
    border-bottom: var(--cor-terciaria) dotted 5px;
    font-family: var(--fonte-titulo);
    color:var(--cor-terciaria);
    font-size: var(--tamanho-titulo);
    text-align: center;
}

.habilidades__lista{
    font-family: var(--fonte-paragrafo);
    padding-left: 5%;
    font-size: var(--tamanho-paragrafo);
}